/node_modules
/public/hot
/public/storage
/public/photos
/public/files
/public/uploaddata
/public/admin-assets/js/*
/public/admin-assets/css/*
/public/admin-assets/skins/*
/public/themes/mspace/css/404.css
/storage/*.key
/vendor
yarn.lock
/.idea/*
package-lock.json
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/manager_resource
/resources/views/admin
/resources/views/admin/index.blade.php
/public/mix-manifest.json
/public/themes/mspace/css
/public/themes/mspace/js
/public/themes/mspace/images
/public/images
