
// Variables
@import 'variables';
@import 'header';
@import 'footer';
@import 'global';
@import 'testimonial';
@import 'services';
@import 'post';
@import 'contact';

body {
    background: $body-bg;
    color: $fontcolor;
}
svg {
    path, g {
        fill: currentColor;
    }
}
